<!DOCTYPE HTML>
<html lang="ru">

<head>
    <link rel="stylesheet" href="/js/lib/ext-theme-classic-all-debug.css">
    <link rel="shortcut icon" href="#">

    <title>Main Page</title>
</head>

<body>
<!-- Ext JS -->
<script type="text/javascript" src="/js/lib/ext-all-debug.js"></script>

<!-- Localization -->
<script type="text/javascript" src="/js/src/localization/locale.js"></script>
<script type="text/javascript" src="/js/src/localization/locale_ru_RU.js"></script>

<!-- Common -->
<script type="text/javascript" src="/js/src/common/Renderers.js"></script>
<script type="text/javascript" src="/js/src/column/DeleteActionColumn.js"></script>
<script type="text/javascript" src="/js/src/column/EditActionColumn.js"></script>
<script type="text/javascript" src="/js/src/column/SyncActionColumn.js"></script>
<script type="text/javascript" src="/js/src/field/CategoryField.js"></script>
<script type="text/javascript" src="/js/src/model/SubscriptionModel.js"></script>
<script type="text/javascript" src="/js/src/model/NotifiedModel.js"></script>
<script type="text/javascript" src="/js/src/model/FilterModel.js"></script>
<script type="text/javascript" src="/js/src/model/FieldRelationModel.js"></script>
<script type="text/javascript" src="/js/src/model/FilterFieldModel.js"></script>
<script type="text/javascript" src="/js/src/model/ItemSynchronizationModel.js"></script>
<script type="text/javascript" src="/js/src/Tags.js"></script>
<script type="text/javascript" src="/js/src/CommonStore.js"></script>
<script type="text/javascript" src="/js/src/controller/BaseCrudController.js"></script>
<script type="text/javascript" src="/js/src/controller/BaseEditWindowController.js"></script>
<script type="text/javascript" src="/js/src/grid/BaseCrudGrid.js"></script>
<script type="text/javascript" src="/js/src/form/BaseEditFormWindow.js"></script>

<!-- Views -->
<script type="text/javascript" src="/js/src/grid/NotifiedGrid.js"></script>
<script type="text/javascript" src="/js/src/form/NotifiedForm.js"></script>
<script type="text/javascript" src="/js/src/grid/SubscriptionGrid.js"></script>
<script type="text/javascript" src="/js/src/form/SubscriptionForm.js"></script>
<script type="text/javascript" src="/js/src/grid/FilterGrid.js"></script>
<script type="text/javascript" src="/js/src/form/FilterForm.js"></script>
<script type="text/javascript" src="/js/src/grid/ItemSynchronizationGrid.js"></script>
<script type="text/javascript" src="/js/src/grid/ItemSynchronizationStatusGrid.js"></script>

<!-- App -->
<script type="text/javascript" src="/js/src/app.js"></script>

</body>

</html>