<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/js/lib/ext-theme-classic-all-debug.css">

    <title>Main Page</title>
</head>

<body>
<!-- Ext JS -->
<script type="text/javascript" src="/js/lib/ext-all-debug.js"></script>

<!-- Localization -->
<script type="text/javascript" src="/js/src/localization/locale.js"></script>
<script type="text/javascript" src="/js/src/localization/locale_ru_RU.js"></script>

<!-- Common -->
<script type="text/javascript" src="/js/src/field/CategoryField.js"></script>
<script type="text/javascript" src="/js/src/model/SubscriptionModel.js"></script>
<script type="text/javascript" src="/js/src/Tags.js"></script>
<script type="text/javascript" src="/js/src/CommonStore.js"></script>

<!-- Views -->
<script type="text/javascript" src="/js/src/NotifiedGrid.js"></script>
<script type="text/javascript" src="/js/src/NotifiedForm.js"></script>
<script type="text/javascript" src="/js/src/SubscriptionGrid.js"></script>
<script type="text/javascript" src="/js/src/SubscriptionForm.js"></script>

<!-- App -->
<script type="text/javascript" src="/js/src/app.js"></script>

</body>

</html>